.header{
  height:60px;
  display:flex;
  justify-content: space-between;
  position: fixed;
  top:0px;
  left: 0px;
  right:0px;
  height:68px;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: rgb(217, 217, 217);
  border-bottom-width: 1px;
  z-index:1;
}
.left{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
}
.hamburger-menu{
  height: 25px;
  margin-left: 25px;
  margin-right:23px;
}
.youtube-logo{
  height: 20px;
}
.center{
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  max-width: 500px;
}
.search{
  height:35px;
  width:0px;
  flex:1; 
  font-size: 16px;
  padding-left: 10px;
  border-style: solid;
  border-radius: 2px;
  border-color: rgb(204, 201, 201);
  border-width: 1px;
  box-shadow:inset 1px 2px 3px rgba(0, 0, 0, 0.06);
  
}
.search::placeholder{
  font-family:Arial, Helvetica, sans-serif; 
  font-size: medium;
}
.search-button{
  height:39px;
  width:65px;
  margin-right: 10px;
  margin-left: -1px;
  border-style: solid;
  border-radius: 1px;
  border-color: rgb(204, 201, 201);;
  border-width: 1px;
  background-color: rgb(244, 228, 228);
  position:relative;
}
.voice-button{
  height:40px;
  width:42px;
  border-style: solid;
  border-radius: 30px;
  border-width: 0px;
}
.right{
  display: flex;
  width: 200px;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  margin-left: 30px;
}
.srch{
  height: 25px;

}
.voc-srch{
  height:25px;
}
.upload{
  height: 25px;
}
.apps{
  height: 25px;
}
.ntfc{
  height: 25px;
}
.profile-pic{
  height: 35px;
  width: 33px;
  border-radius: 100%;
  margin-right: 20px;
}
.notify{
  position:relative;
  cursor:pointer;
}
.number{
  position:absolute;
  top:-5px;
  right:-7px;
  background-color: brown;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  border-radius: 20px;
  padding-left: 2px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size:12px;
}
.search-button .tool,.voice-button .tool,.upload-yu .tool,.yu-apps .tool,.ntfy .tool{
  position:absolute;
  bottom: -46px;
  background-color: rgb(83, 81, 81);
  color: white;
  padding-top: 6px;
  padding-left: 8px;
  padding-bottom: 6px;
  padding-right: 8px;
  border-radius:4px;
  font-size: 12px;
  opacity:0;
  pointer-events:none;
  white-space:nowrap;
  transition:opacity 0.15s;
  font-family: Arial, Helvetica, sans-serif;
  
}
.search-button:hover .tool,.voice-button:hover .tool,.upload-yu:hover .tool,.yu-apps:hover .tool,.ntfy:hover .tool{
  opacity: 0.8;
}
.search-button,.voice-button,.upload-yu,.yu-apps,.ntfy{
  display:flex;
  justify-content: center;
  align-items:center;
  position:relative;
  cursor: pointer;

}